html,
body {
    height: 100%;
    font-family: "Roboto Condensed", Helvetica, sans-serif;
}

header {
    .brandLogo {
        height: 50px;
    }

    .nav-item>a {
        font-size: 1.5rem;
    }

    a.dropdown-item {
        font-size: 1.15rem;
    }
}

main {

    .container,
    .container-fluid {
        padding: 60px 15px 0;
    }

    section.card-container{
        margin: 1rem 0;
        display: flex;
        justify-content: space-evenly;
    }

    .details-img {
        width: 300px;
        height: 400px;
        margin: auto;
    }

    .card-list-img {
        position: relative;

        .out-stock {
            display: inline-flex;
            justify-content: center;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            height: 100%;
            width: 100%;
            background-color: #9D9D9D7F;

            .overlay-text {
                color: #fff;
                font-size: 2.25vw;
                line-height: 1.5em;
                text-shadow: 2px 2px 2px #000;
                position: absolute;
                top: 50%;
            }
        }
    }

    /* #region Cart */
    .cart-container {
        width: 100%;
        padding-right: 50px;
        padding-left: 50px;
        margin-right: auto;
        margin-left: auto;
    }

    th,
    td {
        text-align: center;
        vertical-align: middle !important;
    }

    .quantity-cell {
        width: 20%;
    }

    .cart-game-img {
        width: 75px;
        height: 75px;
    }

    .cart-total {
        font-size: 2rem;
        font-weight: bold;
    }

    /* #endregion */
}


footer {
    .site-map {
        font-size: .75rem;
    }

    .address {
        display: inline-flex;
        flex-direction: column;
    }

    .social-logo {
        margin-right: 10px;
        width: 32px;
        height: 32px;
        border-radius: 3px;
    }
}
